h1,
h2 {
    color: green;
}

p {
    color: darkgray;
}

ul {
    border: 3px solid orange;
}

ol {
    border: 3px solid blue;
}

ol,
ul {
    padding: 10px 30px;
    border-radius: 8px;
}

h1,
strong {
    color: darkgreen;
}

em {
    color: gray;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: whitesmoke;
